<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Order Lists",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
  
<% end %>

<head>
  <style type="text/css">
    .Row {
      display: table;
      width: 100%; /*Optional*/
      table-layout: fixed; /*Optional*/
      border-spacing: 1px; /*Optional*/
      margin-top: 10px;
    }
    .Column {
      display: table-cell;
      width: 300px;
    }
    .Column2 {
      display: table-cell;
      float: right;
    }
  </style>

</head>

<body style="background-color: #f2f2f2">
  <div><p id="notice"><%= notice %></p></div>

    <div class="row" style="margin-left: 10%; margin-right: 10%;">
	    <div class="col-md-12">
        <form class="navbar-form navbar-left" role="search" style=" margin-right: 15%; margin-left: 15%;">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Keywords" style="width: 582px; color: black;">
          </div>
          <button type="submit" class="btn btn-default" style="margin-left: 10px;  margin-right: 10px; width: 100px">Filter</button>

          <input type="text" data-provide='datepicker' style="margin-left: 10px; margin-right: 10px;"> - <input type="text" data-provide='datepicker' style="margin-left: 10px; margin-right: 10px;">
          <div class="btn-group" style="margin-left: 10px; margin-right: 10px;">
            <a href="#" class="btn btn-default">Select Date Range</a>
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </form>
	    </div>
    </div>

    <div class="row">
	    <div class="col-md-12" style="margin-left: 17%; margin-right: 10%;">
	      <form class="navbar-form navbar-left">
        <div class="btn-group">
          <a href="#" class="btn btn-default" style="width: 218px;">Fulfillment Status: All</a>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu" style="margin-left: 10px;">
            <li><input type="checkbox" name="vehicle" value="Bike">Unknown</li>
            <li><input type="checkbox" name="vehicle" value="Bike">Fulfilled</li>
            <li><input type="checkbox" name="vehicle" value="Bike">Unfulfilled</li>
            <li><input type="checkbox" name="vehicle" value="Bike">Partial</li>
          </ul>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-default" style="width: 218px;">Financial Status: All</a>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-default" style="width: 218px;">Flags Status: All</a>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-default" style="width: 218px;">Order Status: All</a>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-default" style="width: 218px;">Sources Status: All</a>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>

<!--nav-->
 <% @orders.each do |order| %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body" style=" margin-top: 50px; margin-right: 15%; margin-left: 12.5%; color: #000; background-color: #ffffff;">
        <div id="myTabContent" class="tab-content">
          <div class="container">
            <div class="Row">
              <div class="col-lg-3">Order <a href="#"><%= order.order_number %> </a><%= order.created_at %></div>
              <div class="col-lg-3">Customer: <a href=""><%= order.shipping_address.name %></a></div>
              <div class="col-lg-3">Add Note</div>
              <div class="Column2"><button type="button" class="btn btn-default">Mark as Shipped</button></div>
            </div>
            <hr>
            <div class="Row">
              <div class="col-lg-3"><span class="label label-warning" style="margin-right: 10px">To Order</span>Supplier: <a href="#">Warehouse #0001</a></div>
              <div class="col-lg-2">Ali Order No:<button type="button" class="btn btn-sm" style="margin-left: 20px;">Add</button></div>
              <div class="col-lg-3">Shipped:<b style="margin-left: 5px">0/1</b><button type="button" class="btn btn-sm" style="margin-left: 10px">Mark as Shipped</button></div>
              <div class="Column2"><button type="button" class="btn btn-default" style="background-color: orange; color: white;">Order Product</button></div>
            </div>
            <div style="margin: auto; margin-top: 25px">
              <div style="border:1px; display:inline-block; background-color: #ddeaff; width: 1150px; height: 100px; margin-bottom: 10px">
                      <!-- line items -->
                <% order.line_items.each do |item| %>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="center"><h6><a><%= item.title %></a></h6></div>
                      <div class="center"><h5 style="color: grey"><%= item.sku %></h5></div></div>
                    <div class="col-sm-3">
                      	<div class="center">
			    <%= item.variant_title %>
		    	</div>
		    </div>
                    <div class="col-sm-3">
                      	<div class="center">
			    ****tracking number
		    	</div>
		    </div>
                    <div class="col-sm-3">
                      <%= item.quantity %><span style="marginLeft: 5px; marginRight: 5px;">x</span><%= item.price %></div>
                  </div>
                <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<!--as->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
