<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Orders</h2>


<table border="1" style="width:100%">
  <tr>
    <th>Order ID</th>
    <th>Recipient</th>
    <th>Total Order</th>
    <th>Date of Order</th>
    <th>Sale Total</th>
    <th>Sales Tax</th>
    <th>Payment Gateway</th>
    <th>Fulfillment Status</th>
  </tr>

  <% @orders.each do |order| %>
  <tr>
    <td><%= order.order_number %></td>
    <td>cust</td>
    <td>total</td>
    <td><%= order.created_at %></td>
    <td><%= order.subtotal_price %></td>
    <td><%= order.total_tax %></td>
    <td><%= order.payment_gateway_names %></td>
    <td><%= order.fulfillment_status %></td>
  </tr>
 <% end %>
</table>
