<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>



<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <p>
      <b><%= product.title %><br></b>
      ID: <%= product.id %><br>
      Vendor: <%= product.vendor %><br>
      Description: <%= product.body_html %><br>
      Created at: <%= product.created_at %><br>
      <%= submit_tag "Import" %>
    </p>
    <br><br>
  <% end %>
</ul>
<br>

<%= form_tag(create_path) do %>
<%= submit_tag "Add This Product" %>
<% end %>