<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>


<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <%= form_for(import) do |f| %>
      <p>
        <b><%= f.product.title %><br></b>
        ID: <%= f.product.id %><br>
        Vendor: <%= f.product.vendor %><br>
        Description: <%= f.product.body_html %><br>
        Created at: <%= f.product.created_at %><br>
        <%= submit_tag "Import" %>
      </p>
    <br><br>
    <% end %>
  <% end %>
</ul>