<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @import.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @import.title %>
</p>

<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
