<p id="notice"><%= notice %></p>

<h1>Sampletablezzzzs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sampletablezzzzs.each do |sampletablezzzz| %>
      <tr>
        <td><%= sampletablezzzz.name %></td>
        <td><%= sampletablezzzz.age %></td>
        <td><%= sampletablezzzz.id %></td>
        <td><%= link_to 'Show', sampletablezzzz %></td>
        <td><%= link_to 'Edit', edit_sampletablezzzz_path(sampletablezzzz) %></td>
        <td><%= link_to 'Destroy', sampletablezzzz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sampletablezzzz', new_sampletablezzzz_path %>
