<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sampletablezzzz.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sampletablezzzz.age %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sampletablezzzz.id %>
</p>

<%= link_to 'Edit', edit_sampletablezzzz_path(@sampletablezzzz) %> |
<%= link_to 'Back', sampletablezzzzs_path %>
