<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
  
<% end %>

  <head>
    <style type="text/css">
      body {
        vertical-align: middle;
        margin-left:auto;
        margin-right:auto;
      }
      .input-group.input-group-sm, .input-group-addon{
        margin-top: 15px;
      }
      .product-title{
        margin-bottom: 20px;
      }
    </style>
    
    <script type="text/javascript">
      $(document).ready(function(){
        // --- for each product ---
        $("#select_all").change(function(){  //"select all" change 
          $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });
        //".checkbox" change 
        $('.checkbox').change(function(){ 
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if(false == $(this).prop("checked")){ //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkbox:checked').length == $('.checkbox').length ){
                $("#select_all").prop('checked', true);
            }
        });
        // -- for each product variant ---
        $("#select_all2").change(function(){  //"select all" change 
          $(".checkbox2").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });
        //".checkbox" change 
        $('.checkbox2').change(function(){ 
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if(false == $(this).prop("checked")){ //if this item is unchecked
                $("#select_all2").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkbox2:checked').length == $('.checkbox2').length ){
                $("#select_all2").prop('checked', true);
            }
        });
        
        // --- hide / unhide dropwdown option ---
        $('#bulkaction').hide();
        $('#select_all').change(function () {
          if ($('#select_all').prop("checked") == true) {
              $('#bulkaction').show();
          } else {
              $('#bulkaction').hide();
          }
        });
              
      });
    </script>

  </head>

  <body style="background-color: #f2f2f2;">

    <nav class="navbar navbar-default navbar-fixed-top" style="height: 20px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img alt="Brand" class="navbar-brand" href="#" src="https://simplesharebuttons.com/images/somacro/buffer.png"><a class="navbar-brand" style="font-family: Georgia, serif; color: black;">Uberlo</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><strong>Import List</strong></a></li>
          <li><a href="#"><strong>My Products</strong></a></li>
        </ul>
      </div>
  </div>
  </nav>

  <br/>
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading"><strong>Import List!</strong></div>
      <div class="panel-body">
        <p>This section is for importing products.</p>
      </div> 
    </div>
  </div>

  <div class="col-md-12" style="margin-left: 10%; margin-right: 10%;">
    <div class="row">
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="  Search for Products" style="width: 600px; font-family: Verdana, Geneva, sans-serif; margin-right: 20px; margin-left: 10px; margin-left: 180px; color: black;">
          </div>
        <div class="btn-group" style="margin-left: 10px; margin-right: 10px;">
          <a href="#" class="btn btn-default">Default</a>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <button type="submit" class="btn btn-success" style="margin-left: 10px;">SEARCH</button>
      </form>
    </div>

<%= form_tag product_select_action_path(@products) do %>
    <div class="row" style="margin-left: 10%; margin-right: 10%; margin-bottom: 20px;">
      <div class="col-sm-10">
        <label style="color: white;">
          <input type="checkbox" id="select_all" style="margin-right: 7px">
          <%= select_tag "bulkaction", options_for_select(@bulkaction, "-- Select Bulk Action --") %>
        </label>
        <button type="submit" class="btn btn-default" style=" margin-left: 400px; width: 155px; height: 35px; margin-right: 100px;">Remove All Products</button>
        <button type="submit" class="btn btn-success" style="width: 210px; height: 35px; margin-left: -100px;">Push All Products to Shop</button>
      </div>
    </div>
    
  <div><p id="notice"><%= notice %></p></div>

  <% @products.each do |product| %>
    <%= hidden_field_tag :_colors, product.colors %>
    <%= hidden_field_tag :_sizes, product.sizes %>
    <%= hidden_field_tag :_prices, product.price %>
    <%= hidden_field_tag :_body, product.body_html %>
    <%= hidden_field_tag :_compare_at_price, product.compare_at_price %>
    <%= hidden_field_tag :_avail_qty, product.avail_qty %>
    <%= hidden_field_tag :_variant_images, product.variant_images %>

<!--nav-->
<div class="container" style = "width: 1000px; margin-bottom: 5px;">
  <div class="panel-heading" style="background-color: #fff;">
    <ul class="nav nav-pills">
      <li slot="select" ><span class="for-checkbox"><input class="checkbox" type="checkbox" name="check[]"></span></li>
      <li class="active"><a href="#products<%= @ctr %>" data-toggle="tab" aria-expanded="true">Product</a></li>
      <li class=""><a href="#description<%= @ctr %>" data-toggle="tab" aria-expanded="false">Description</a></li>
      <li class=""><a href="#variants<%= @ctr %>" data-toggle="tab" aria-expanded="false">Variants</a></li>
      <li class=""><a href="#images<%= @ctr %>" data-toggle="tab" aria-expanded="false">Images</a></li>
    </ul>
  </div>

<div class="panel-body"  style="color: #000;">
  <div id="myTabContent" class="tab-content">

  <!--PRODUCTS TAB-->
  <div class="tab-pane fade active in" id="products<%= @ctr %>">
    <div class="media" id="item">
      <div class="media-left">
        <%= image_tag(product.images.first, :alt => "picture", :size => "220x220") %><%= hidden_field_tag :_img, product.images %>
      </div>
      <div class="media-body">
        <div class="product-title">
          <b><%= product.title %></b>
        </div>
          <div class="input-group">
            <span class="input-group-addon">Change Name:</span>
            <%= text_field_tag :_title, product.title, maxlength: 255, class: 'form-control' %>
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Collections:</span>
            <%= text_field_tag :_collections, "", class: 'form-control', placeholder: "Choose Collections" %>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">Type:</span>
                <%= text_field_tag :_type, "", class: 'form-control', placeholder: "Choose Type" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">Tags:</span>
                <%= text_field_tag :_tags, "", class: 'form-control', placeholder: "Insert Tags Here" %>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--END OF PRODUCTS TAB-->

  <!--DESCRIPTION TAB-->
  <div class="tab-pane fade" id="description<%= @ctr %>">
    <p><%= product.body_html %></p>
  </div>
  <!--END OF DESCRIPTION TAB-->

  <!--VARIANTS TAB-->
  <div class="tab-pane fade" id="variants<%= @ctr %>">
    <div class="container" style="overflow-y: scroll; height:400px;" %>
    <table class="table table-condensed table-bordered table-striped volumes">
      <thead>
        <tr>
          <th><input type="checkbox" id="select_all2"></th>
          <th>Image</th>
          <th>SKU</th>
          <th>Color</th>
          <th>Size</th>
          <th>Cost</th>
          <th>Price</th>
          <th>Compared At Price</th>
          <th>Inventory</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <!-- set value or mutliplier -->
            <td colspan="6"></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Change All Prices
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Set New Value</a></li>
                  <li><a href="#">Multiply By</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Change All Prices
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Set New Value</a></li>
                  <li><a href="#">Multiply By</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <% product.colors.each.with_index do |color, i| %>
            <% product.sizes.each.with_index do |size, x| %>
              <tr>
                <td><input class="checkbox2" type="checkbox" name="check_var[]"></td>
                <td><div class = "v-img"><%= image_tag(product.variant_images[i], :alt => "img", :size => "100x100") %></div></td>
                <td><%= text_field_tag :_sku, "", class: 'form-control', size: 10 %></td>
                <td><%= text_field_tag :_color, color, class: 'form-control', size: 10 %></td>
                <td><%= text_field_tag :_size, size, class: 'form-control', size: 10 %></td>
                <td><%= label_tag product.price[@ctr2] %></td>
                <td><%= text_field_tag :_prc, product.price[@ctr2], class: 'form-control', size: 10 %></td>
                <td><%= text_field_tag :_compAtPrice, product.compare_at_price[@ctr2], class: 'form-control', size: 10 %></td>
                <td><%= label_tag product.avail_qty[@ctr2] %></td>
              </tr>
              <% @ctr2 = @ctr2 + 1 %>
            <% end %>
            <% i = i + 1 %>
          <% end %>  
        </tbody>
      </table>
    </div>
  </div>
  <!--END OF VARIANTS TAB-->

  <!--IMAGES TAB-->
  <div class="tab-pane fade" id="images<%= @ctr %>">
    <div>
      <div class="row space-bottom">
        <div class="image-select">
          <div class="product-img">
            <div class="product-img-action">
                <%= image_tag(product.images.first, :alt => "img", :size => "220x220" ) %>
              <div class="icon-selected-box align-center">
                <svg class="icon-selected">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-selected"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END OF IMAGES TAB-->

    <!--PUSH BUTTON-->
    <div class="panel-footer">
      <div class = "row">
        <div class = "col-lg-12">
          <div class="text-right">
            <%= link_to "Remove Product", product, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= submit_tag 'Push to Store', class: 'button@ctr', class: "btn btn-success " %>
          </div>
        </div>
      </div>
    </div>
  
    </div>
  </div>
<br/>
<br/>
    <% @ctr+=1 %>
  <% end %>
  <%= submit_tag 'Remove selected', class: "btn btn-default" %>
  <%= submit_tag 'Push selected', class: "btn btn-default" %>
<% end %>
</div>
<!--end navs-->
</div>

<!--as->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
