<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

  </script>
  
<% end %>

<head>
  <style type="text/css">
    body {
      vertical-align: middle;
      margin-left:auto;
      margin-right:auto;
    }
    .input-group.input-group-sm, .input-group-addon{
      margin-top: 15px;
    }
    .container{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .product-title{
      margin-bottom: 20px;
    }
  </style>

</head>

<p id="notice"><%= notice %></p>

<body>

<div class="container main-content">

<div><h3>Import List</h3></div>

  <!--SEARCH PANEL-->
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body align-center">
          <div class="row">
            <div class="col-lg-7">
              <div class="input-group">
                <%= form_tag(products_path, method: :get) do %>
                  <div class="col-xs-8">
                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for Products" %></div>
                  <div class="col-xs-1 align-right">
                    <%= submit_tag "Search", name: nil, class: "btn btn-info" %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--SELECT ALL PRODUCTS W/ ACTION-->

<div class="row">
<div class="col-md-12">
  <div class="col-md-8">
                <%= check_box_tag :cb_all, { class: "selectAll"} %>
                <strong>Select All Products</strong></span>
  </div>
  <div class="col-md-2">

            <%= button_tag "Remove All Products",  class: "btn btn-danger margin-small-right"  %>
            
  </div>
  <div class="col-md-1">
              <%= button_tag "Push All Products to Shop", class: "btn btn-success btn-icon-left" %>
  </div>
</div>
</div>
  <br/>


  <!--DISPLAY EACH PRODUCT-->
  <table>
    <tbody>


    <% @products.each do |product| %>
      <%= form_tag(push_path, method: 'post') do %>

        <tr><td>
        <div class="container-fluid">
          <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
              <div class="panel-heading">
                <div class="row">
                <div class="col-md-4">
                  <ul class="nav nav-pills nav-justified">

                    <li slot="select"><span class="for-checkbox"><%= check_box_tag "product_ids[]", product.id %></span></li>
                    <li role="presentation" class="active"><a href="#tab1default<%= @angel %>" data-toggle="tab">Product</a></li>
                    <li role="presentation"><a href="#tab2default<%= @angel %>" data-toggle="tab">Variants</a></li>
                    <li role="presentation"><a href="#tab3default<%= @angel %>" data-toggle="tab">Images</a></li>
                  </ul>
                </div>
                <div class="col-xs-6"></div>
                                <div class="col-md-2">
                  <div class="container-flex flex-left">
                    <div class="margin-small-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">Action</button>
                          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                    </div>
                  </div>
                </div>
                      </div>
              </div>
            </div>

              <div class="panel-body">
                  <div class="tab-content">

                      <!--PRODUCTS TAB-->
                      <div class="tab-pane fade in active" id="tab1default<%= @angel %>">
                        <div class="media" id="item">
                          <div class="media-left">

                            <%= image_tag(product.images, :alt => "picture") %><%= hidden_field_tag :_img, product.images %>
                          </div>
                          <div class="media-body">
                            <div class="product-title">
                              <b><%= product.title %></b>
                            </div>
                              <div class="input-group">
                                <span class="input-group-addon">Change Name:</span>
                                <%= text_field_tag :_title, product.title, maxlength: 255, class: 'form-control' %>
                              </div>
                              <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Collections:</span>
                                <%= text_field_tag :_collections, "", class: 'form-control', placeholder: "Choose Collections" %>
                              </div>

                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon3">Type:</span>
                                    <%= text_field_tag :_type, "", class: 'form-control', placeholder: "Choose Type" %>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon3">Tags:</span>
                                    <%= text_field_tag :_tags, "", class: 'form-control', placeholder: "Insert Tags Here" %>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--VARIANTS TAB-->
                      <div class="tab-pane fade" id="tab2default<%= @angel %>">
                        <table class="table table-condensed table-bordered table-striped volumes">
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>SKU</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Cost</th>
                            <th>Price</th>
                            <th>Compared At Price</th>
                            <th>Inventory</th>
                          </tr>
                        </thead>
                          <tbody>
                            <tr>
                              <td><div class = "v-img"><%= image_tag(product.images, :alt => "img") %></div></td>
                              <td><%= text_field_tag :_sku, "", class: 'form-control', size: 10 %></td>
                              <td><%= text_field_tag :_color, "", class: 'form-control', size: 10 %></td>
                              <td><%= text_field_tag :_size, "", class: 'form-control', size: 10 %></td>
                              <td><%= hidden_field_tag :_price, product.price %><%= product.price %></td>
                              <td><%= text_field_tag :_prc, "", class: 'form-control', size: 10 %></td>
                              <td><%= text_field_tag :_compAtPrice, "", class: 'form-control', size: 10 %></td>
                              <td><%= label_tag "null" %></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!--IMAGES TAB-->
                      <div class="tab-pane fade" id="tab3default<%= @angel %>">
                        <div>
                          <div class="row space-bottom">
                              <div class="image-select">
                                <div class="product-img">
                                  <div class="product-img-action">
                                    <%= image_tag(product.images, :alt => "img") %>
                                    <div class="icon-selected-box align-center">
                                      <svg class="icon-selected">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-selected"></use>
                                      </svg>
                                    </div>
                                  </div>
                                </div>

                              </div>
                          </div>
                        </div>
                      </div>


                  </div>
                </div>

                <div class="panel-footer">
                  <div class="text-right"><%= submit_tag 'Push to Store', class: "btn btn-success " %></div>
                </div>

              </div>

          </div>
          </td></tr>
          <% @angel+=1 %>
        <% end %>
      <% end %>




      </tbody>
    </table>
</div>




<!--MINE-->
<div class="col-lg-12">
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Import Product!</strong></div>
  <div class="panel-body">
    <p>This section is for importing products.</p>
  </div> 
</div>
</div>
<div class="col-lg-12">
  <div class="col-md-10">
    
  </div>
  <div class="col-md-6">
      <div class="form-group col-md-3">
  <input type="text" class="form-control" placeholder="Search for Products">
  </div>
  <div class="col-md-1">
  <button type="submit" class="btn btn-default">Submit</button>
  </div>
  </div>  

</div>

<!--MINE-->







  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>