<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

  </script>

<% end %>
<head>
  <script type="text/javascript">
  $(document).ready(function() {

    $( ".btn.btn-small" ).click(function(){
        
    var x;
    if (window.confirm("Are you sure you want to continue?") == true) {
      x = "You pressed OK!";

      data = {
        "product": {
          "title": "Test Product 3",
          "body_html": "Sample",
          "product_type": "Sample",
          "tags": "import",
          "vendor": "Sample"
        }
      };

      $.ajax({
        type: "POST",
        //url: "https://gels-store.myshopify.com/admin/products.json",
        url: "https://#{@shop_session.url}/admin/products.json",
        //url: "https://2d69dfd97a185d97d49cb4b85de5e76f:1cd78cc392fe8861b891a3f881b3c5d8@gels-store.myshopify.com/admin/products.json",
        dataType: "json",
        //headers:{ contentType: "application/json" },
        data: data,
        success: function() {
          alert('Success!!!');
        },
        error: function(data) {
          alert('ew error. check logs.');
        }
      });

    }

    alert(x);
    return false;

    });
  });
  </script>

</head>
<p id="notice"><%= notice %></p>

<body>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body html</th>
      <th>Images</th>
      <th>Product type</th>
      <th>Tags</th>
      <th>Vendor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.body_html %></td>
        <td><%= product.images %></td>
        <td><%= product.product_type %></td>
        <td><%= product.tags %></td>
        <td><%= product.vendor %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_tag "Push to Store", {class: 'btn btn-small'} %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>


</body>

</html>