<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

  </script>
  
<% end %>

<head>
  <style type="text/css">
    body {
      vertical-align: middle;
      margin-left:auto;
      margin-right:auto;
    }
    .input-group.input-group-sm, .input-group-addon{
      margin-top: 15px;
    }
    .container{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .product-title{
      margin-bottom: 20px;
    }
  </style>

</head>

<p id="notice"><%= notice %></p>

<body background="https://s24.postimg.org/uwwv58tad/neon_green_wallpapers_images_3840x2160.jpg" style="background-size: 100% 160%; background-repeat: no-repeat;">

<!--<div class="container main-content">

<div><h3>Import List</h3></div>-->

  <!--SEARCH PANEL-->
  <!--
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body align-center">
          <div class="row">
            <div class="col-lg-7">
              <div class="input-group">
                <%= form_tag(products_path, method: :get) do %>
                  <div class="col-xs-8">
                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for Products" %></div>
                  <div class="col-xs-1 align-right">
                    <%= submit_tag "Search", name: nil, class: "btn btn-info" %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="row">
<div class="col-md-12">
  <div class="col-md-8">
                <%= check_box_tag :cb_all, { class: "selectAll"} %>
                <strong>Select All Products</strong></span>
  </div>
  <div class="col-md-2">

            <%= button_tag "Remove All Products",  class: "btn btn-danger margin-small-right"  %>
            
  </div>
  <div class="col-md-1">
              <%= button_tag "Push All Products to Shop", class: "btn btn-success btn-icon-left" %>
  </div>
</div>
</div>
  <br/>



  <table>
    <tbody>


    <% @products.each do |product| %>
      <%= form_tag(push_path, method: 'post') do %>

        <tr><td>
        <div class="container-fluid">
          <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
              <div class="panel-heading">
                <div class="row">
                <div class="col-md-4">
                  <ul class="nav nav-pills nav-justified">

                    <li slot="select"><span class="for-checkbox"><%= check_box_tag "product_ids[]", product.id %></span></li>
                    <li role="presentation" class="active"><a href="#tab1default<%= @angel %>" data-toggle="tab">Product</a></li>
                    <li role="presentation"><a href="#tab2default<%= @angel %>" data-toggle="tab">Variants</a></li>
                    <li role="presentation"><a href="#tab3default<%= @angel %>" data-toggle="tab">Images</a></li>
                  </ul>
                </div>
                <div class="col-xs-6"></div>
                                <div class="col-md-2">
                  <div class="container-flex flex-left">
                    <div class="margin-small-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning">Action</button>
                          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                    </div>
                  </div>
                </div>
                      </div>
              </div>
            </div>

              <div class="panel-body">
                  <div class="tab-content">

 
                      <div class="tab-pane fade in active" id="tab1default<%= @angel %>">
                        <div class="media" id="item">
                          <div class="media-left">

                            <%= image_tag(product.images, :alt => "picture") %><%= hidden_field_tag :_img, product.images %>
                          </div>
                          <div class="media-body">
                            <div class="product-title">
                              <b><%= product.title %></b>
                            </div>
                              <div class="input-group">
                                <span class="input-group-addon">Change Name:</span>
                                <%= text_field_tag :_title, product.title, maxlength: 255, class: 'form-control' %>
                              </div>
                              <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Collections:</span>
                                <%= text_field_tag :_collections, "", class: 'form-control', placeholder: "Choose Collections" %>
                              </div>

                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon3">Type:</span>
                                    <%= text_field_tag :_type, "", class: 'form-control', placeholder: "Choose Type" %>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon3">Tags:</span>
                                    <%= text_field_tag :_tags, "", class: 'form-control', placeholder: "Insert Tags Here" %>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="tab-pane fade" id="tab2default<%= @angel %>">
                        <table class="table table-condensed table-bordered table-striped volumes">
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>SKU</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Cost</th>
                            <th>Price</th>
                            <th>Compared At Price</th>
                            <th>Inventory</th>
                          </tr>
                        </thead>
                          <tbody>
                            <tr>
                              <td><div class = "v-img"><%= image_tag(product.images, :alt => "img") %></div></td>
                              <td><%= text_field_tag :_sku, "", class: 'form-control', size: 10 %></td>
                              <td><%= text_field_tag :_color, "", class: 'form-control', size: 10 %></td>
                              <td><%= text_field_tag :_size, "", class: 'form-control', size: 10 %></td>
                              <td><%= hidden_field_tag :_price, product.price %><%= product.price %></td>
                              <td><%= text_field_tag :_prc, "", class: 'form-control', size: 10 %></td>
                              <td><%= text_field_tag :_compAtPrice, "", class: 'form-control', size: 10 %></td>
                              <td><%= label_tag "null" %></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>


                      <div class="tab-pane fade" id="tab3default<%= @angel %>">
                        <div>
                          <div class="row space-bottom">
                              <div class="image-select">
                                <div class="product-img">
                                  <div class="product-img-action">
                                    <%= image_tag(product.images, :alt => "img") %>
                                    <div class="icon-selected-box align-center">
                                      <svg class="icon-selected">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-selected"></use>
                                      </svg>
                                    </div>
                                  </div>
                                </div>

                              </div>
                          </div>
                        </div>
                      </div>


                  </div>
                </div>

                <div class="panel-footer">
                  <div class="text-right"><%= submit_tag 'Push to Store', class: "btn btn-success " %></div>
                </div>

              </div>

          </div>
          </td></tr>
          <% @angel+=1 %>
        <% end %>
      <% end %>




      </tbody>
    </table>
</div>

-->
<!--hehe

-->

   <nav class="navbar navbar-default navbar-fixed-top" style="height: 20px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img alt="Brand" class="navbar-brand" href="#" src="https://simplesharebuttons.com/images/somacro/buffer.png"><a class="navbar-brand" style="font-family: Georgia, serif; color: black;">Uberlo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><strong>Import List</strong></a></li>
        <li><a href="#"><strong>My Products</strong></a></li>
      </ul>
    </div>
  </div>
</nav>
<br/>
<div class="col-md-2"></div>
<div class="col-lg-12">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Import List!</strong></div>
  <div class="panel-body">
    <p>This section is for importing products.</p>
  </div> 
</div>
</div>
<div class="col-md-12">


    <div class="col-md-12">

          <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="  Search for Products" style="width: 600px; font-family: Verdana, Geneva, sans-serif; margin-right: 20px; margin-left: 10px; border-radius: 15px 50px; margin-left: 180px; color: black;">
        </div>
      <div class="btn-group" style="margin-left: 10px; margin-right: 10px;">
              <a href="#" class="btn btn-default">Default</a>
              <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
      </div>
        <button type="submit" class="btn btn-success" style="margin-left: 10px;">PUSH</button>
      </form>

  </div>
          <div class="checkbox" style="margin-top: 100px; margin-left: 175px;">
          <label style="color: white;">
            <input type="checkbox"> Select All Products
          </label>
          <button type="submit" class="btn btn-default" style=" margin-left: 400px; width: 155px; height: 35px; margin-right: 100px;">Remove All Products</button>
          <button type="submit" class="btn btn-success" style="width: 210px; height: 35px; margin-left: -100px;">Push All Products to Shop</button>
        </div>


<% @products.each do |product| %>
      <%= form_tag(push_path, method: 'post') do %>
      <%= hidden_field_tag :_title, product.title %>
      <%= hidden_field_tag :_body, product.body_html %>
      <%= hidden_field_tag :_type, product.product_type %>
      <%= hidden_field_tag :_vendor, product.vendor %>
      <%= hidden_field_tag :_img, product.images %>

<!--nav-->

<img style="height: 360px; width: 1000px; margin-left: 130px; margin-top: 20px;" src="https://s23.postimg.org/70ol5adm3/lols.png">   
<ul class="nav nav-pills" style="margin-top: -20px; margin-left: 120px;">
  <li class="active"><a href="#home<%= @angel %>" data-toggle="tab" aria-expanded="true" style="margin-top: -319px; margin-left: 60px; font-family: Impact, Charcoal, sans-serif;">Product</a></li>
  <li class=""><a href="#profile<%= @angel %>" data-toggle="tab" aria-expanded="false" style="margin-top: -319px; margin-left: 140px; font-family: Impact, Charcoal, sans-serif;">Description</a></li>
   <li class=""><a href="#profile<%= @angel %>" data-toggle="tab" aria-expanded="false" style="margin-top: -319px; margin-left: 245px; font-family: Impact, Charcoal, sans-serif;">Variants</a></li>
    <li class=""><a href="#profile<%= @angel %>" data-toggle="tab" aria-expanded="false" style="margin-top: -319px; margin-left: 332px; font-family: Impact, Charcoal, sans-serif;">Images</a></li>

</ul>
<!--push button-->
<div class="text-right"><%= submit_tag 'Push to Store', class: "btn btn-success " %></div>

  <div class="panel-body" style=" margin-top: -250px; width: 800px; margin-left: 250px; color: #000;">
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home<%= @angel %>">
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. <%= product.title %> </p>
  </div>
  <div class="tab-pane fade" id="profile<%= @angel %>">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
  </div>
</div>
<br/>
<br/>


    <% @angel+=1 %>
  <% end %>
<% end %>
<!--end navs-->
</div>

<!--as->








  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>