<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

  </script>

<% end %>

<head>
  <style type="text/css">
    .input-group.input-group-sm, .input-group-addon{
      margin-top: 15px;
    }
    .container{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .product-title{
      margin-bottom: 20px;
    }
  </style>
</head>

<p id="notice"><%= notice %></p>

<body>

<div>
  <h2>Import List</h2>

</div>

<table>
  <tbody>

  <% @products.each do |product| %>
    <%= form_tag(push_path, method: 'post') do %>

      <tr><td>
      <div class="container-fluid">
        <div class="col-md-9">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <div class="row">
              <div class="col-lg-6 col-sm-6">
                <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#tab1default<%= @angel %>" data-toggle="tab">Product</a></li>
                  <li role="presentation"><a href="#tab2default<%= @angel %>" data-toggle="tab">Variants</a></li>
                  <li role="presentation"><a href="#tab3default<%= @angel %>" data-toggle="tab">Images</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-sm-2 align-right">
                <div class="container-flex flex-right">
                  <div class="margin-small-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="panel-body">
                <div class="tab-content">

                    <!--PRODUCTS TAB-->
                    <div class="tab-pane fade in active" id="tab1default<%= @angel %>">
                      <div class="media" id="item">
                        <div class="media-left">
                          <%= image_tag(product.images, :alt => "picture") %><%= hidden_field_tag :_img, product.images %>
                        </div>
                        <div class="media-body">
                          <div class="product-title">
                            <b><%= hidden_field_tag :ptitle, product.title %><%= :ptitle %></b>
                          </div>
                            <div class="input-group">
                              <span class="input-group-addon">Change Name:</span>
                              <%= text_field_tag :_title, :ptitle, maxlength: 255, class: 'form-control' %>
                            </div>
                            <div class="input-group input-group-sm">
                              <span class="input-group-addon" id="sizing-addon3">Collections:</span>
                              <%= text_field_tag :_collections, "", class: 'form-control', placeholder: "Choose Collections" %>
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="input-group input-group-sm">
                                  <span class="input-group-addon" id="sizing-addon3">Type:</span>
                                  <%= text_field_tag :_type, "", class: 'form-control', placeholder: "Choose Type" %>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="input-group input-group-sm">
                                  <span class="input-group-addon" id="sizing-addon3">Tags:</span>
                                  <%= text_field_tag :_tags, "", class: 'form-control', placeholder: "Insert Tags Here" %>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--VARIANTS TAB-->
                    <div class="tab-pane fade" id="tab2default<%= @angel %>">
                      <table class="table table-condensed table-bordered table-striped volumes">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>SKU</th>
                          <th>Color</th>
                          <th>Cost</th>
                          <th>Price</th>
                          <th>Compared At Price</th>
                          <th>Inventory</th>
                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td><div class = "v-img"><%= image_tag(product.images, :alt => "img") %></div></td>
                            <td><%= text_field_tag :_sku, "", class: 'form-control', size: 10 %></td>
                            <td><%= text_field_tag :_color, "", class: 'form-control', size: 10 %></td>
                            <td><%= hidden_field_tag :_price, product.price %><%= product.price %></td>
                            <td><%= text_field_tag :_prc, "", class: 'form-control', size: 10 %></td>
                            <td><%= text_field_tag :_compAtPrice, "", class: 'form-control', size: 10 %></td>
                            <td><%= label_tag "null" %></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <!--IMAGES TAB-->
                    <div class="tab-pane fade" id="tab3default<%= @angel %>">Default 3</div>
                </div>
              </div>

              <div class="panel-footer">
                <div class="text-right"><%= submit_tag 'Push Product', class: "btn btn-default " %></div>
              </div>

            </div>
          </div>
        </div>
        </td></tr>
        <% @angel+=1 %>
      <% end %>
    <% end %>




    </tbody>
  </table>

</body>

</html>