<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Imports List",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
  
<% end %>

<body id="imports">

  <div class="container-fluid text-center" id="page-content">    
    <div class="row content">

      <!-- start of center column -->
      <div class="col-sm-8 text-left"> 
        
        <div class="row">
          <div class="col-md-12">
            <div class="panel-body align-center search-form">
              <%= form_tag(root_path, method: :get) do %>
                <%= text_field_tag "searchprd", params[:searchprd], class: "form-control", placeholder: "Seach for Products" %>
                <%= submit_tag 'Search', name: nil, class: "btn btn-default", id: "search-btn" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="container-fluid" id="prd-bulk">
              <input type="checkbox" id="select_all" style="margin-right: 7px; margin-left: 1px;">
              <select class="selectpicker" id="bulkaction">
                <option>Push Selected</option>
                <option>Remove Selected</option>
              </select>
              <%= button_to pushall_path, class: 'btn btn-success all', id: 'push-all-prd', data: { confirm: 'Are you sure? This will push all products without the changes.' } do %>
                <span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span>Push All Products to Shop
              <% end %>
              <%= button_to remove_all_path, class: 'btn btn-default all', id: 'remove-all-prd', data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-minus" style="margin-right: 10px;"></span>Remove All Products
              <% end %>
            </div>
          </div>
        </div>

        <div><p id="notice"><%= notice %></p></div>

        <div> <!-- list of products -->  

        <% @products.each do |product| %>
          <%= form_tag push_path, method: 'post', remote: true do %>
          
            <!--nav-->
            <div class="row">
              <div class="col-md-10">

              <div class="panel-heading" id="prd-head">
                <ul class="nav" id="myTab">
                  <li slot="select" >
                    <input class="checkbox" type="checkbox" name="check[]" value ="<%= product.id %>" style="margin: 13px;">
                  </li>
                  <li class="active"><a href="#products<%= @ctr %>" data-toggle="tab" aria-expanded="true">Product</a></li>
                  <li class=""><a href="#description<%= @ctr %>" data-toggle="tab" aria-expanded="false">Description</a></li>
                  <li class=""><a href="#variants<%= @ctr %>" data-toggle="tab" aria-expanded="false">Variants</a></li>
                  <!--li class=""><a href="#images<%= @ctr %>" data-toggle="tab" aria-expanded="false">Images</a></li-->
                </ul>
              </div>

              <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                <%= hidden_field_tag :ae_url, product.ae_url %>
                <%= hidden_field_tag :mf_key, product.mf_key %>
                <!--PRODUCTS TAB-->
                <div class="tab-pane active in" id="products<%= @ctr %>">
                  <div class="media" id="item">
                    <div class="media-left">
                      <%= image_tag(product.images.first, :alt => "picture", :size => "210x210", class: "prd-image") %>
                    </div>
                    <div class="media-body">
                      <div class="product-title">
                        <b><%= label_tag :orig_title, product.title %></b>
                      </div>
                        <div class="input-group">
                          <span class="input-group-addon">Change Name:</span>
                          <%= text_field_tag "_title", product.title, maxlength: 255, class: 'form-control' %>
                        </div>
                        <div class="input-group input-group-sm">
                          <span class="input-group-addon" style="height: 30px;">Collections:</span>
                          <input type="text" list="collections" class="form-control" id="collection" name="collection" />
                          <datalist id="collections">
                            <% @collections.each do |c| %>
                              <option value="<%= c.title %>"></option>
                            <% end %>
                          </datalist>
                        </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="input-group input-group-sm">
                          <span class="input-group-addon" id="sizing-addon3">Type:</span>
                          <%= text_field_tag :_type, "", class: 'form-control', placeholder: "Set Type" %>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="input-group input-group-sm">
                          <span class="input-group-addon" id="sizing-addon3">Tags:</span>
                          <input name="_tags" id="_tags" data-role="tagsinput" class="form-control">
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                <!--END OF PRODUCTS TAB-->

                <!--DESCRIPTION TAB-->
                <div class="tab-pane" id="description<%= @ctr %>">
                  <trix-editor input="x" class="editor"></trix-editor>
                  <input id="x" type="hidden" name="content" value="<%= product.body_html %>">
                </div>
                <!--END OF DESCRIPTION TAB-->

                  <!--VARIANTS TAB-->
                  <div class="tab-pane" id="variants<%= @ctr %>">
                    <div class="container" style="margin-left: -10px; overflow-y: scroll; height:300px; width: 980px;" %>
                      <table class="table table-condensed table-striped volumes">
                        <thead>
                          <tr>
                            <th><input type="checkbox" id="select_all2" data-id="<%= product.id %>" checked></th>
                            <th>Image</th>
                            <th>SKU</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Cost</th>
                            <th>Price</th>
                            <th>Compared At Price</th>
                            <th>Inventory</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <!-- set value or mutliplier -->
                            <td colspan="6" style='text-align: right;'></td>
                            <td>
                              <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Change All Prices
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="list1">
                                  <li><%= link_to "Set New Value", "#", { :class => 'price-edit', :id => 'op1a', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'+product.id.to_s ,:aaa =>product.id.to_s} %></li>
                                  <li><%= link_to "Multiply By", "#", { :class => 'price-edit', :id => 'op1b', :remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal2'+product.id.to_s  , :aaa =>product.id.to_s} %></li>
                                </ul>
                              </div>
                            </td>
                            <td>
                              <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Change All Prices
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="list2">
                                  <li><%= link_to "Set New Value", "#", {:class => 'price-edit', :id => 'op2a', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'+product.id.to_s, :aaa =>product.id.to_s} %></li>
                                  <li><%= link_to "Multiply By", "#", {:class => 'price-edit', :id => 'op2b', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal2'+product.id.to_s, :aaa =>product.id.to_s} %></li>
                                </ul>
                              </div>
                            </td>
                            <td></td>

                            <!-- Modal -->
                            <div class="modal" id="myModal<%= product.id %>" role="dialog">
                              <div class="modal-dialog modal-sm" style="position: absolute; top: 37%; left: 34%;">
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <div class ="row">
                                      <div>
                                        <div class="container-flex" style="float: left">
                                          <input type="text" name="new_val" placeholder="Enter Value" class="form-control" style="width: 180px;" id="new_val<%= product.id %>">
                                          <button class="btn btn-sm flex-right" id="apply"> Apply </button>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>   
                              </div>
                            </div>
                            <!-- End of Modal -->

                            <!-- Modal for Multiply By -->
                            <div class="modal" id="myModal2<%= product.id %>" role="dialog">
                              <div class="modal-dialog modal-sm" style="position: absolute; top: 37%; left: 34%;">
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <div class ="row">
                                      <div>
                                        <div class="container-flex" style="float: left">
                                          <input type="text" name="multiplier" placeholder="Enter Multiplier" class="form-control" style="width: 180px;" id="multiplier<%= product.id %>">
                                          <button class="btn btn-sm flex-right" id="apply2"> Apply </button>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>   
                              </div>
                            </div>
                            <!-- End of Modal -->

                            </tr>
                            <%= hidden_field_tag @ctr2 = 0 %>
                            <% product.colors.each.with_index do |color, i| %>
                              <% product.sizes.each do |size| %>
                                <tr>
                                  <td><input class="checkbox2" type="checkbox" name="check_var[]" value="<%= @ctr2 %>" data-id="<%= product.id %>" checked></td>
                                  <td><div class = "v-img"><%= image_tag(product.variant_images[i], :size => "100x100", :alt => "variant image") %><%= hidden_field_tag "_varimg[]", product.variant_images[i] %></div></td>
                                  <td><%= text_field_tag "_sku[]", "", class: 'form-control', size: 10 %></td>
                                  <td><%= text_field_tag "_color[]", color, class: 'form-control', size: 10 %></td>
                                  <td><%= text_field_tag "_size[]", size, class: 'form-control', size: 10 %></td>
                                  <td><%= label_tag "", number_to_currency(product.price[@ctr2]), class: "var-cost" %></td>
                                  <td><%= text_field_tag "_prc2[]", number_with_precision(product.price2[@ctr2].to_f.public_send(@price_fm, @price_markup), :precision => 2), class: 'form-control', size: 10 %></td>
                                  <% if @capToggle == true %>
                                    <td><%= text_field_tag "_compAtPrice[]", number_with_precision(product.compare_at_price[@ctr2].to_f.public_send(@cap_fm, @cap_markup), :precision => 2), class: 'form-control', size: 10 %></td>
                                  <% else %>
                                    <td><%= text_field_tag "_compAtPrice[]", number_with_precision(product.compare_at_price[@ctr2].to_f, :precision => 2), class: 'form-control', size: 10 %></td>
                                  <% end %>
                                  <td><%= label_tag "", product.avail_qty[@ctr2], class: "inv-qty" %><%= hidden_field_tag "_qty[]", product.avail_qty[@ctr2] %></td>
                                </tr>
                                <% @ctr2 += 1 %>
                              <% end %>
                              <% i += 1 %>
                            <% end %>  
                          </tbody>
                        </table>
                      </div>
                    </div>
                  <!--END OF VARIANTS TAB-->

                  <!--IMAGES TAB-->
                  <!--div class="tab-pane" id="images<%= @ctr %>">
                    <div id="gallery">
                        <select class="image-picker show-html" multiple="multiple">
                        <% hidden_field_tag @ctr3 = 1 %>
                        <% imgarr = [] %>
                        <% product.images.each do |image| %>
                        <% imgarr << image %>
                        <% end %>
                        <% product.variant_images.each do |image| %>
                        <% imgarr << image %>
                        <% end %>
                        <% imgarr.each do |image| %>
                          <option data-img-src="<%= image %>" value="<%= @ctr3 %>">Cute Kitten <%= @ctr3 %></option>
                        <% @ctr3 += 1 %>
                        <% end %>
                        </select>
                    </div>
                  </div-->
                  <!--END OF IMAGES TAB-->



                  </div> 
                </div> <!-- END OF PANEL BODY -->

                <!--PUSH BUTTON-->
                <div class="panel-footer">
                  <div class="text-right">
                    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default all" do %>
                      <span class="glyphicon glyphicon-minus" style="margin-right: 10px;"></span> Remove Product
                    <% end %>
                    <%= button_tag(type: "submit", class: "btn btn-success push-btn") do %>
                      <span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span>Push to Store
                    <% end %>
                  </div>
                </div>
                <br/>
                <br/>

                <% @ctr+=1 %>
                <% end %>
              <% end %>

            </div>

          </div>
        </div> <!-- end of products -->


      </div> <!-- end of center column-->

    </div>
  </div>
</body>
</html>
