<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

  </script>

<% end %>

<p id="notice"><%= notice %></p>

<body>

<h1>Products</h1>

  <% @products.each do |product| %>

    <div class="row">
      <div class="col-md-8">
        <div class="panel with-nav-tabs panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-5 col-sm-5">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
                  <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
                  <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                      <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-sm-3 align-right">
                <div class="container-flex flex-right">
                <%= button_to "Push to Store", push_path(:_title => product.title, :_body => product.body_html, :_type => product.product_type, :_vendor => product.vendor, :_img => product.images, :_price => product.price), {class: 'btn btn-default margin-right'} %>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <div class="tab-content">

            <div class="tab-pane fade in active" id="tab1default">
              <div class="media" id="item">
                <div class="media-left">
                  <%= image_tag(product.images, :alt => "picture") %>
                </div>
                <div class="media-body">
                  <div>
                    <b><%= product.title %></b>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Change Name:</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" maxlength="255" value="<%= product.title %>">
                  </div>
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Collections:</span>
                    <%= text_field_tag :_collections, "", class: 'form-control', placeholder: "Choose Collections" %>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="input-group input-group-sm">
                      <span class="input-group-addon" id="sizing-addon3">Type:</span>
                      <%= text_field_tag :_type, "", class: 'form-control', placeholder: "Choose Type" %>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-group input-group-sm">
                      <span class="input-group-addon" id="sizing-addon3">Tags:</span>
                      <%= text_field_tag :_tags, "", class: 'form-control', placeholder: "Insert Tags Here" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="tab2default">Default 2</div>
          <div class="tab-pane fade" id="tab3default">Default 3</div>

          </div>
        </div>
        </div>
      </div>
    </div>

  <% end %>

</body>

</html>