<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>
  
<head>
  <style type="text/css">
    .input-group.input-group-sm, .input-group-addon{
      margin-top: 15px;
    }
    .container{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>

<h1>Import List</h1>

    <% @products.each do |product| %>
      <div class="container">

        <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">

        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-8 col-sm-7">

              <ul class="nav nav-tabs">
                <li class="active"><a href="#item" data-toggle="tab">Products</a></li>
                <li><a href="#variants" data-toggle="tab">Variants</a></li>
                <li><a href="#images" data-toggle="tab">Images</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-5 align-right">
              <div class="container-flex flex-right">
              <%= button_to "Push to Store", push_path(:_title => product.title, :_body => product.body_html, :_type => product.product_type, :_vendor => product.vendor, :_img => product.images, :_price => product.price), {class: 'btn btn-default margin-right'} %>
              </div>
            </div>
          </div>
        </div>

          <div class="panel-body">
          <div class="tab-content">

          <div class="tab-pane fade in active" id="item">
          <div class="media" id="item">
            <div class="media-left">
              <%= image_tag(product.images, :alt => "picture") %>
            </div>
            <div class="media-body">
              <div>
                <b><%= product.title %></b>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Change Name:</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" maxlength="255" value="<%= product.title %>">
              </div>
              <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">Collections:</span>
                <%= text_field_tag :_collections, "", class: 'form-control', placeholder: "Choose Collections" %>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Type:</span>
                    <%= text_field_tag :_type, "", class: 'form-control', placeholder: "Choose Type" %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Tags:</span>
                    <%= text_field_tag :_tags, "", class: 'form-control', placeholder: "Insert Tags Here" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="tab-pane fade" id="variants">
            <table class="table table-condensed table-bordered table-striped volumes">
              <thead>
                <tr>
                  <th></th>
                  <th>SKU</th>
                  <th>Color</th>
                  <th>Size</th>
                  <th>Cost</th>
                  <th>Price</th>
                  <th>Compared At Price</th>
                  <th>Inventory</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= image_tag(product.images, :alt => "img") %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade" id="images">
          <div class="media" id="images">
            <table class="table table-condensed table-bordered table-striped volumes">
              <thead>
                <tr>
                  <th></th>
                  <th>SKU</th>
                  <th>Color</th>
                  <th>Size</th>
                  <th>Cost</th>
                  <th>Price</th>
                  <th>Compared At Price</th>
                  <th>Inventory</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= image_tag(product.images, :alt => "img") %></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>

          </div>
          </div>

        </div>
        </div>

      </div>
    <% end %>


    <% @products.each do |product| %>
                <div class="col-md-6">
            <div class="panel with-nav-tabs panel-danger">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1danger" data-toggle="tab">Danger 1</a></li>
                            <li><a href="#tab2danger" data-toggle="tab">Danger 2</a></li>
                            <li><a href="#tab3danger" data-toggle="tab">Danger 3</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab4danger" data-toggle="tab">Danger 4</a></li>
                                    <li><a href="#tab5danger" data-toggle="tab">Danger 5</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1danger"><%= product.title %></div>
                        <div class="tab-pane fade" id="tab2danger"><%= product.body_html %></div>
                        <div class="tab-pane fade" id="tab3danger"><%= product.type %></div>
                        <div class="tab-pane fade" id="tab4danger"><%= product.vendor %></div>
                        <div class="tab-pane fade" id="tab5danger"><%= product.price %></div>
                    </div>
                </div>
            </div>
                        <div class="panel with-nav-tabs panel-danger">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1danger1" data-toggle="tab">Danger 1</a></li>
                            <li><a href="#tab2danger1" data-toggle="tab">Danger 2</a></li>
                            <li><a href="#tab3danger1" data-toggle="tab">Danger 3</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab4danger1" data-toggle="tab">Danger 4</a></li>
                                    <li><a href="#tab5danger1" data-toggle="tab">Danger 5</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1danger"><%= product.title %></div>
                        <div class="tab-pane fade" id="tab2danger1"><%= product.body_html %></div>
                        <div class="tab-pane fade" id="tab3danger1"><%= product.type %></div>
                        <div class="tab-pane fade" id="tab4danger1"><%= product.vendor %></div>
                        <div class="tab-pane fade" id="tab5danger1"><%= product.price %></div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
</body>

</html>